# Исключить виртуальные среды
venv/
.venv/
env
.env/

# Исключить файлы и директории, созданные IDE
.idea/
.pycharm/

# Исключить файлы и директории, созданные системой контроля версий
.git/

# Исключить файлы и директории, созданные компиляторами и интерпретаторами
__pycache__/
*.pyc
*.pyo

# Исключить файлы и директории, созданные инструментами сборки
build/
dist/

# Исключить файлы и директории, созданные инструментами тестирования
.coverage
.tox/
.nox/

# Исключить файлы и директории, созданные инструментами документации
docs/

# Исключить лог-файлы
*.log
log

db.sqlite3
